services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: StrongPassword123!
      MYSQL_DATABASE: gallery_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  api:
    build:
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    command: sh -c "npx prisma migrate deploy && node dist/main.js"

volumes:
  mysql_data:
